.body {
  width: 1440px;
  height: 2592px;
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}
.header {
  box-sizing: border-box;
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
.link {
  padding-left: 156px;
  padding-top: 24px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #2e2f42;
  line-height: 1, 16;
}
.nav-list {
}
.link-menu {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  color: #2e2f42;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 6px;
  list-style: none;
  text-decoration: none;
}
.address {
  font-style: normal;

  text-decoration: none;
}

.link-mail {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}
.link-tel {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: #434455;
}

.section-subject {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  background: #2e2f42;
}
.subject {
  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
